.card__form {
  display: none;
}
.card__form-active {
  background-color: white;
  height: 297px;
  width: 317px;
  position: absolute;
  top: 175px;
  left: 369px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 25px;
  border-radius: 10px;
  z-index: 2;
}
.card__form-title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: black;
}
.card__form-container {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__form-label input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid grey;
}
.card__add-title {
}
.card__form-link {
}
.card__form-item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #c4c4c4;
  border: none;

  padding-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__form-button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(196, 196, 196, 1);
  background-color: black;
  text-align: center;
  width: 100%;
  height: 45px;
}
.card__form-button:hover {
  background-color: grey;
}
.card__form-button:disabled {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(196, 196, 196, 1);
  background-color: white;
  text-align: center;
  width: 100%;
  height: 45px;
}
.card__close-btn {
  position: absolute;
  top: -45px;
  right: -45px;
}
.card__close-btn:hover {
  content: url(../images/close-iconhover.png);
}
.card__input-error {
  border-bottom: 1px solid red;
  width: 100%;
}
.card__form-error-msg {
  font-family: "Inter";
  font-weight: 400;
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  line-height: 1.2;
}
.card__form-error-msg::after,
.card__form-error-msg::before {
  content: none;
}
@media (min-width: 1200px) {
  .card__form-active {
    left: 600px;
    width: 30%;
    height: 50%;
  }
}
@media (max-width: 1100px) {
  .card__form-active {
    position: absolute;
    left: 369px;
  }
}
@media (max-width: 1000px) {
  .card__form-active {
    position: absolute;
    left: 349px;
  }
}
@media (max-width: 900px) {
  .card__form-active {
    position: absolute;
    left: 279px;
  }
}
@media (max-width: 800px) {
  .card__form-active {
    position: absolute;
    left: 239px;
  }
}
@media (max-width: 700px) {
  .card__form-active {
    position: absolute;
    left: 189px;
  }
}
@media (max-width: 600px) {
  .card__form-active {
    position: absolute;
    left: 89px;
  }
}
@media (max-width: 500px) {
  .card__form-active {
    position: absolute;
    left: 59px;
  }
}
@media (max-width: 450px) {
  .card__form-active {
    width: auto;
  }
}
@media (max-width: 400px) {
  .card__form-active {
    position: absolute;
    left: 15px;
  }
}
@media (max-width: 320px) {
  .card__form-active {
    position: absolute;
    left: 35px;
  }
  .card__close-btn {
    right: -10px;
  }
  .card__form-active {
    height: 357px;
  }
}
