.elements {
  padding: 35px 0 0;
}
.elements__container {
  display: grid;
  width: 100%;
  object-fit: cover;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "elements-1 elements-2 elements-3"
    "elements-4 elements-5 elements-6"
    "elements-7 elements-8 elements-9";
  gap: 16px;
  justify-content: center;
}
.elements__like-btn {
  background-image: url(../images/like.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  width: 20px;
  aspect-ratio: 1/1;
  align-self: center;
  border: none;
  position: relative;
  z-index: 2;
}
.elements__like-btn:hover {
  background-image: url(../images/like-hover.png);
}
.elements__like-btn_active {
  background-image: url(../images/llike-on.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* Clases para el array*/
.elements__pic {
  grid-area: elements-1;
  width: 262px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.elements__rectangle {
  grid-area: elements-1;
  width: 282px;
  object-fit: cover;
  position: relative;
  top: 65px;
  z-index: 1;
}
.elements__image-container {
  position: relative;
  width: 100%;
}
.elements__text-box {
  grid-area: elements-1;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
  z-index: 1;
}
.elements__text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  position: relative;
  z-index: 2;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  overflow: hidden;
  width: 100%;
}
/*Clases originales*/
.elements__pic-1 {
  grid-area: elements-1;
  width: 262px;
  object-fit: contain;
}
.elements__yosemite-text-box {
  grid-area: elements-1;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
}
.elements__yosemite-text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
.elements__louise-text-box {
  grid-area: elements-2;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
}
.elements__louise-text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
.elements__calvas-text-box {
  grid-area: elements-3;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
}
.elements__calvas-text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
.elements__latemar-text-box {
  grid-area: elements-4;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
}
.elements__latemar-text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
.elements__vanois-text-box {
  grid-area: elements-5;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
}
.elements__vanois-text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
.elements__braies-text-box {
  grid-area: elements-6;
  display: flex;
  gap: 10px;
  align-self: flex-end;
  justify-self: center;
}
.elements__braies-text {
  color: black;
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}
.elements__pic-2 {
  grid-area: elements-2;
  width: 262px;
  object-fit: contain;
}
.elements__pic-3 {
  grid-area: elements-3;
  width: 262px;
  object-fit: contain;
}
.elements__pic-4 {
  grid-area: elements-4;
  width: 262px;
  object-fit: contain;
}
.elements__pic-5 {
  grid-area: elements-5;
  width: 262px;
  object-fit: contain;
}
.elements__pic-6 {
  grid-area: elements-6;
  width: 262px;
  object-fit: contain;
}
.elements__trash {
  position: relative;
  left: 240px;
  bottom: -40px;
  z-index: 3;
  background-image: url(../images/Trash.png);
  background-color: transparent;
  height: 20px;
  aspect-ratio: 1/1;
  align-self: center;
  border: none;
}
.elements__trash:hover {
  background-image: url(../images/botonDeletee.png);
  background-color: transparent;
}
.elements__zoom-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.elements__zoom-img-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.elements__zoom-img {
  display: block;
  border-radius: 8px;
  max-width: 75vw;
  max-height: 75vh;
  margin: 0 auto;
  object-fit: contain;
  position: relative;
}
.elements__zoom-caption {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: white;
  line-height: 100%;
  position: absolute;
  bottom: -40px;
  left: 10px;
  z-index: 5;
}
.elements__close-btn {
  position: absolute;
  top: -28px;
  right: -28px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;
}
@media (min-width: 834px) {
  .elements__container {
    grid-template-columns: auto;
    gap: 12px;
  }
  .elements__like-btn {
    width: auto;
  }
}
@media (max-width: 834px) {
  .elements__container {
    grid-template-areas:
      "elements-1 elements-2"
      "elements-3 elements-4"
      "elements-5 elements-6"
      "elements-7 elements-8"
      "elements-9 elements-10";

    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .elements__container {
    grid-template-areas:
      "elements-1"
      "elements-2"
      "elements-3"
      "elements-4"
      "elements-5"
      "elements-6"
      "elements-7"
      "elements-8"
      "elements-9"
      "elements-10"
      "elements-11";
    grid-template-columns: auto;
  }
}
@media (max-width: 500px) {
  .elements__container {
    grid-template-columns: auto;
  }
}
@media (max-width: 366px) {
  .elements {
    padding-right: 15px;
  }
  .elements__zoom-container {
    left: -15px;
  }
}
