.popup {
  display: none;
}
.popup__container {
  display: flex;
  justify-items: center;
}
.popup_opened {
  background-color: white;
  height: 297px;
  width: 317px;
  position: absolute;
  top: 175px;
  left: 409px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 25px;
  border-radius: 10px;
  z-index: 2;
}
.popup__close {
  position: absolute;
  top: -45px;
  right: -45px;
}
.popup__close:hover {
  content: url(../images/close-iconhover.png);
}
.popup__form {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup__form-label {
  display: flex;
  border-bottom: 1px solid grey;
}
.popup__form-item {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #7a7a6ec4;
  border: none;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.popup__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: black;
}
.popup__btn {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(196, 196, 196, 1);
  background-color: black;
  text-align: center;
  width: 100%;
  height: 45px;
}
.popup__btn:hover {
  background-color: grey;
}

@media (min-width: 1200px) {
  .popup_opened {
    left: 600px;
    width: 30%;
    height: 50%;
  }
}

@media (max-width: 1100px) {
  .popup_opened {
    position: absolute;
    left: 369px;
  }
}
@media (max-width: 1000px) {
  .popup_opened {
    position: absolute;
    left: 349px;
  }
}
@media (max-width: 900px) {
  .popup_opened {
    position: absolute;
    left: 279px;
  }
}
@media (max-width: 800px) {
  .popup_opened {
    position: absolute;
    left: 239px;
  }
}
@media (max-width: 700px) {
  .popup_opened {
    position: absolute;
    left: 189px;
  }
}
@media (max-width: 600px) {
  .popup_opened {
    position: absolute;
    left: 89px;
  }
}
@media (max-width: 500px) {
  .popup_opened {
    position: absolute;
    left: 59px;
  }
}
@media (max-width: 450px) {
  .popup_opened {
    width: auto;
  }
}
@media (max-width: 400px) {
  .popup_opened {
    position: absolute;
    left: 15px;
  }
}
@media (max-width: 320px) {
  .popup_opened {
    position: absolute;
    left: 35px;
  }
  .popup__close {
    position: absolute;
    right: 0;
  }
}
