body {
  background-color: black;
}

.page {
  padding: 0 150px;
  margin: 0;
}

.header__logo {
  padding: 35px 0;
}

.header {
  border-bottom: 1px solid white;
}

/* Responsive design para header */
@media screen and (max-width: 590px) {
  .page {
    padding: 0 20px;
  }

  .header__logo {
    padding: 25px 0;
  }
}
